body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  width: auto;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fffffff0;
  padding-bottom: 1px;
  padding-top: 1px;
}
.search-form {
  width: 490px;
  height: 45px;
  display: block;
  margin: 20px auto;
  position: relative;
}
#search-bar {
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 1px 20px;
  border: 1px solid #d0cfce;
  border-radius: 30px;
  outline: none;
  &::placeholder {
    font-size: 16px;
    padding: 2px 0;
  }
  &:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    font-size: 21px;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}
#search-button {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 3px;
  right: -20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 30px;
  max-width: calc(100vw - 60px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.photo-card {
  margin: 10px;
  box-shadow: 0.2px 0.2px 0.2px 0.5px rgba(0, 4, 56, 0.5);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}
.photo-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 15px;
}
.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  &:hover {
    color: rgb(10, 135, 245);
  }
}
.info__span {
  font-family: Arial, Helvetica, sans-serif;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #dedede;
  border-radius: 50px;
  cursor: pointer;
}
.pagination-number.active {
  color: #fff;
  background: #949494;
  border-radius: 50px;
}
.is-hidden {
  display: none;
}
